*{
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 27px;
  margin-top: 15px;
}

.theme {
margin-top: 30px;
font-size: 15px;
border-radius: 5px;
border: none;
box-shadow: 0px 2px 2px rgb(212, 231, 210);
}

.input {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

input {
  height: 25px;
  width: 230px;
  font-size: 20px;
  text-align: start;
  border-radius: 5px;
}

.add {
  height: 27px;
  width: 50px;
  font-size: 18px;
  background-color: rgb(100, 241, 87);
  border: none;
  border-radius: 5px;
}


.item {
  margin-bottom: 20px;
  text-align: start;
  font-size: 23px;
  width: 315px;
}

.delete {
  height: 25px;
  font-size: 18px;
  margin-bottom: 6px;
  background-color: rgb(247, 14, 14);
  border: none;
  border-radius: 5px;
  color: white;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}







